<%= form_for @category do |f| %>
  <div class='control-group'>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.submit "Create Category", class: 'btn btn-primary' %>
  </div>
<% end %>